.poodlelink:hover {
  cursor: crosshair;
}

.crosshair {cursor: crosshair;}


::placeholder {
  color: #94E8B4;
  opacity: 1; /* Firefox */
}

:root {
  --colpal1: #94B4E8;
  --colpal2: #72A3BD;
  --colpal3: #5E6A8C;
  --colpal4: #4E5161;
  --colpalDarkNav: #39525F;
  --onyxcol: #3A3B41;
  --brightcol: #ffffff;


}
